*{
    margin: 0;
    padding: 0;
}
body{
     /* width: auto; */
    background-image: url("/MEDIA/IMAGENES/background/background2.jpg");
    background-position:center;
    background-repeat:unset;
    margin-left: 50px;
}
img{
    border-radius: 10%;

}

.grid_menu{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content:space-around;
    width: 100%;
    margin: 0 auto;
}


.grid_main{
    display: grid;
    grid-template-columns: 50% 30%;
    justify-content:space-around;
    width: 80%;
    margin: 0 auto;
}




.encabezado{
    width: auto;
    height: 100px;
    display: flex;
  flex-wrap: nowrap;
}
#logo{
     margin-top: 10px; 
   }
#menu{
    /* width: 70%; */
    /* height: 100px; */
    
    /* background-color: blue;  */
    /* float: left; */
     list-style-type: none;
     margin-top: 40px;
    

     
     
}
#menu a{
    width:120px;
    height: 50px;
    font-size:20px;
    text-decoration:none;
    text-align:center;
    transition: height 2s;
    padding-top: 10px;
    
    /* color:rgb(9, 70, 101); */

    padding:5px 0px 0px 0px;
    border-right:none;
    display:block;
    
    }
#menu li{
    float: left;
    list-style-type: none;
    margin-top: 10px;

}
#menu ul{
    margin-left: 100px;
    height: fit-content;
}

main{
    width: 100%;
    height: 600px;
    display: flex;
    margin:10% 0px 100px 100px;
 
}
p.description{
    /* width: 30%; */
    height: 400px;
    padding: 10px;
    text-align: justify;
    /* margin: 50px; */
    margin: 200px 0px 0px 10px;
    font-size: 18px;
    overflow: hidden;
    
    
}



div .imagen{
    margin-top: 50px;
    padding: 0;
}

.description__imagen    {
    width: 350px;
    height: 300px;
    padding: 10px;
    text-align: justify;
    margin: 60px;
    margin-top: 100px;
    font-size: 18px;
    overflow: hidden;
}
.imagen > img{
    width: 500px;
    height: 300px;
    /* float: left; */
    padding: 20px;
    margin-top: 100px;
    opacity: 0.8;
    border-radius: 30%;
    margin-left: 200px;
  
}


.imagen__sobreMi{
    width: 600px;
    height: 400px;
    /* float: left; */
    /* padding: 50px; */
    margin-top: 100px;
    opacity: 0.8;
    background-color: #fff;
    border-radius: 30%;
}
.description__imagen{
    width: 400px;
    height: 400px;
    float: left;
    padding: 20px;
    text-align: justify;
    margin: 100px;
    font-size: 20px;

}


.description.last{
    margin-left: 450px;
    margin-top: -20px;
}

nav ul li a{
    background-color: rgb(96, 231, 255);
    font-size: 20px;
    transition: font-size 2s;
    transition: background-color 3s;
}

    

/* banner */
.banner{
    width:100%;
    height:100px;
    /* margin-left: 200px; */
    margin-top: 50px;
   text-align: center;


}
/* footer */
footer{
    width: 100%;
   list-style-type: none;
    align-items: center;
 
    margin: auto;
    text-align: center;
    align-content: center;
    margin-top: 50px;
    

}
footer  a{
     width: 40px;
    height: 50px; 
    list-style-type: none;
    margin: 0px 0px 0px 0px;

   
}
footer li a{
    width: 100%;
    list-style-type: none;
   
  
    
}
footer h2{
    margin: 120px 0 50px 0px;
    padding-top: 50px;
    
}
.redes-sociales{
    margin-left: auto;
    list-style-type: none;
}
footer ul{
    align-content:center ;
    list-style-type: none;
  
}

footer li{
    width: 30%;
    float: left;
    align-self: center;
}
/* formulario */
form{
    width:700px;
    
    line-height:30px;
    margin: 100px 0 100px 200px;
    
}

label{
    display: inline-block;
    width: 50px;
    margin-right: 10px;
} 

#enviar{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(8, 137, 223);
}




/* pseudoclases */



nav ul li a:hover{
    background-color: orange;
    color: white ;
    font-size: 30px;
    height: 100px;
    
}

li a img:hover{
    background-color: white;
}

/* transiciones */


#menu a:hover{
    height: 30px;
}

 /* queries */

 @media screen and (max-width:700px){
    .banner{
        /* max-width: 500px; */
        min-width: 200px;
    }
   body{
    margin-left: 50px;
   }
    
    .description{
        min-width: 200px;
        max-width: 300px;
    }
    }
@media screen and (max-width:950px) {
    .banner{
        width: 400px;
         
    }
    footer h2{
        margin-left: 200px;
    }

}
   /* @media screen and (max-width:400px){
    footer{
        width: 700px;
    }
         footer h2{
            margin-left:300px;
         }
         .banner{
            width: 200px;
         }
   }  */
 @media screen and (max-width:1100px){
    .imagen   > img{
        width: 400px;
        height: 200px;
        margin-left: -30px;
 }
 .imagen__sobreMi{
    width: 350px;
    height: 250px;
    margin-left: -30px;
    margin-top: 150px;
 }

 #logo > a > img{
    width: 350px;
 }
 

 }
 @media screen and (max-width:610px){
    .grid_main{
        display: grid;
        /* grid-template-columns: repeat(3, 1fr); */
         grid-template-columns: 100% ;
        justify-content: flex-start;
        grid-template-rows: auto auto; 
       
 }
 main{
    margin-top: 100px;
    margin-left: 0px;
 }
 p.description{
    height: 300px;
    padding: 10px;
    text-align: justify;
    margin: 10px 0px 0px 10px;
 }
 .description__imagen{
    height: 100px;
    padding: 10px;
    text-align: justify;
    margin: 10px 0px 0px 10px;
   
 }

 .imagen > img{
    margin-top: 0px;
 }

#logo > a > img{
    width:400px;
}
.banner > img{
    width:400px;
    margin-left: 0px;
}

.grid_menu{

    grid-template-columns: 100%;
}

#menu a{
    width:45px;
    height: 10px;
    font-size:10px;
    text-decoration:none;
    text-align:center;
    transition: height 2s;
    padding-top: 10px;
    text-shadow: rgba(100, 100, 100, 0.5);
   
}

footer li {
    width: 30%;
    float: left;
}
}