*{
    margin: 0;
    padding: 0;
}
body{
     
    background-image: url("/MEDIA/IMAGENES/background/background2.jpg");
    background-position:center;
    background-repeat:unset;
    margin-left: 20px;
}
img{
    border-radius: 10%;
}
.grid{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 2fr 1fr;
}



.grid #menu a{
    grid-column: 2/2;
    grid-row: 1/1;
}   


.encabezado{
    width: 100%;
    height: 100px;
    display: flex;
  flex-wrap: nowrap;
    /* background-color: aqua; */
}
#logo{
    width:35%;
    height: 200px;
    margin-top: 10px;
    /* width: 100px; */
   
    /* background-color: black; */
    /* float: left; */
   
}
#menu{
    width: 70%;
    height: 100px;
    
    /* background-color: blue;  */
    /* float: left; */
     list-style-type: none;
    

     
     
}
#menu a{
    width:120px;
    height: 20px;
    font-size:20px;
    text-decoration:none;
    text-align:center;
    transition: height 2s;
    /* color:rgb(9, 70, 101); */

    padding:5px 0px 0px 0px;
    border-right:none;
    display:block;
    
    }
#menu li{
    float: left;
    list-style-type: none;
    margin-top: 60px;

}
#menu ul{
    margin-left: 100px;
}

main{
    display: flex;
    flex-wrap: nowrap;
    grid-column: 1/1 ;
}
.description{
    width: 350px;
    height: 300px;
    padding: 10px;
    text-align: justify;
    margin: 50px;
    margin-top: 80px;
    font-size: 18px;
    overflow: scroll;
    

}
.imagen{
    width: 600px;
    height: 400px;
    /* float: left; */
    /* padding: 50px; */
    margin-top: 40px;
    opacity: 0.8;
    background-color: #fff;
    border-radius: 30%;
    /* grid-column: 1/4;
    grid-row: 2/4; */
}

.imagen__sobreMi{
    width: 600px;
    height: 400px;
    /* float: left; */
    /* padding: 50px; */
    margin-top: 100px;
    opacity: 0.8;
    background-color: #fff;
    border-radius: 30%;
}
.description__imagen{
    width: 400px;
    height: 400px;
    float: left;
    padding: 20px;
    text-align: justify;
    margin: 100px;
    font-size: 20px;

}


.description.last{
    margin-left: 450px;
    margin-top: -20px;
}

nav ul li a{
    background-color: rgb(96, 231, 255);
    font-size: 20px;
    transition: font-size 2s;
    transition: background-color 3s;
}

    

/* banner */
.banner{
    width:300px;
    height:100px;
    margin-left: 100px;
    margin-top: 50px;
   position: sticky;
   grid-column: 1/1;


}
/* footer */
footer{
    width: 1000px;
    height: 300px;
    text-align: center;
    float: left;
    margin: 20px 0px 0px 40px;
    grid-column: 1/1;

}
footer  a{
    width: 100px;
    height: 100px;
    display: block;
    text-align: center;
    margin: 0px;
   
}
footer li{
    list-style-type: none;
    float: left;
}
footer h2{
    margin: 100px 0 100px 0;
    
}
.redes-sociales{
    margin-left: 100px;
    /* background-color: white; */
}
footer ul{
   margin-left: 200px;
  
}
/* formulario */
form{
    width:700px;
    
    line-height:30px;
    margin: 100px 0 100px 400px;
    
}

label{
    display: inline-block;
    width: 50px;
    margin-right: 10px;
} 

#enviar{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(8, 137, 223);
}




/* pseudoclases */



nav ul li a:hover{
    background-color: orange;
    color: white ;
    font-size: 30px;
    height: 100px;
    
}

li a img:hover{
    background-color: white;
}

/* transiciones */


#menu a:hover{
    height: 30px;
}

 
